{% extends 'Content/base.html' %}
{% load static %}

{% block title %}
    <title>Prices</title>
    <link rel="stylesheet" href="{% static 'Content/css/trade.css' %}">
{% endblock title %}

{% block body %}
<header>
    <h1>Stock Trading Game</h1>
</header>
<nav>
    <ul>
        <li><a style="cursor: pointer">{{ user.username }}</a></li>
        <li><a href="{% url 'Content:index' %}">Portfolio</a></li>
        <li><a href="{% url 'Content:trade' %}">Trade</a></li>
        <li><a href="{% url 'Content:market' %}">Market</a></li>
    </ul>
</nav>
<main>
    <section id="trade">
        <h2>Stock Market</h2>
        <div class="overview">
            {% for stock in stocks %}
            <div class="overview-item">
                <h1>{{stock.symbol}} - ${{stock.price}}</h1>
            </div>        
            {% endfor %}
        </div>
    </section>    
</main>
{% endblock body %}
